fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
alembic
pydantic
pydantic-settings
python-dotenv
httpx[http2]
requests
beautifulsoup4
lxml
apscheduler
pandas
pycryptodome
rapidfuzz
xgboost
scikit-learn
joblib
